@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: local('Lato Regular'), local('Lato-Regular'),
         url('../fonts/lato-v16-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/lato-v16-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

html {
  font-size: .6rem;
}
@media (min-width: 576px) { 
  html {
    font-size: 0.5rem;
  }
  .mobile_show_btn {
    display: none;
  }
  .mobile-description {
    display: none;
  }
  .carousel:hover .nav_arrows {
    opacity: 1;
  }
  .desktop_switcher {
    display: block;
  }
}
@media (min-width: 768px) { 
  html {
    font-size: .8rem;
  }
}
@media (min-width: 992px) { 
  html {
    font-size: .9rem;
  }
}
@media (max-width: 575px) {
  .tap,
  .project_description {
    display: none;
  }
  .project_image {
    position: relative;
  }
  .mobile_show_btn {
    display: block;
  }
}
.info {
  text-align: center;
}
.avatar--image{
  height: 100%;
  width: 100%;
  @media (max-width: 576px) { 
    width: 120px;
    height: 120px;
  }
}
.git_link::before{
  content: "";
  background-image: url(../images/git.png);
  background-size: cover;
  display: inline-block;
  width: 24px;
  height: 24px;
}
.vk_link::before{
  content: "";
  background-image: url(../images/vk.png);
  background-size: cover;
  display: inline-block;
  width: 24px;
  height: 24px;
}
.text-info {
cursor: pointer;
}

.nav_arrows {
  opacity: 0;
  transition: 0.3s ease;
  font-size: 2rem;
  font-weight: bold;
  text-shadow: 1px 1px 2px black;
}
.hidden {
  display: none;
}
.visible {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
