$color-white: #FFFFFF;
$color-background: rgba(243, 239, 239, 0.164);
$color-black:  #131313;
$color-secondary-black: #181818;
$color-brown: #E3B873;
$color-brown-shadow: rgba(227, 184, 115, 0.15);
$color-gray: #ffffff4d;
$color-dark-white: rgba(255, 255, 255, 0.5);
$color-dark-gray: #363636;
$color-secondary-gray: #959595;
$color-light-gray-1: rgba(54, 54, 54, 0.3);
$color-light-gray-2: rgba(54, 54, 54, 0.5);


$mobile: 375px;
